<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAP_BO_4._2_Web_API_client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <SAP_BO_4._2_Web_API_client.Properties.Settings>
            <setting name="URL_Port" serializeAs="String">
                <value>http://vmbi42sp4:6405</value>
            </setting>
            <setting name="REST_Command" serializeAs="String">
                <value>/biprws/raylight/v1/documents</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>Administrator</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>POLOp0l0</value>
            </setting>
            <setting name="XML_Body" serializeAs="String">
                <value />
            </setting>
            <setting name="DocumentID" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderID" serializeAs="String">
                <value />
            </setting>
            <setting name="WebiVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HttpMethod" serializeAs="String">
                <value>0</value>
            </setting>
        </SAP_BO_4._2_Web_API_client.Properties.Settings>
    </userSettings>
</configuration>
